# CloudLinux / cPanel Phusion Passenger config for Node.js
PassengerEnabled On
PassengerAppType node
PassengerBaseURI /
PassengerAppRoot /home/jobspics/domains/sections-apps.clipvaultz.online/public_html
PassengerStartupFile server.js
PassengerNodejs /home/jobspics/nodevenv/domains/sections-apps.clipvaultz.online/public_html/20/bin/node
PassengerFriendlyErrorPages Off
